html, body{
    height: 100%;
    width:100%;
    overflow: hidden;
    margin: 0;
  }
  
  .grass, .sky, .road{
    position: relative;
  }
  
  .sky{
    height: 30%;
    background: lightcyan;
  }
  
  .water{
    height: 30%;
    background: skyblue;
  }
  
  .sand{
    height: 40%;
    background: sandybrown;
    box-sizing: border-box;
    border-top: 10px solid burlywood;
    border-bottom: 10px solid burlywood;
    width: 100%;
  }
  
  
  .boat{
    position: absolute;
    top: 350px;
    left: 0px;
    animation-name: driver;
    animation-duration: 30s;
  }
  
  .umbrella3{
    position: absolute;
    top: 600px;
    left: 1500px;
  } 
  
  .umbrella{
    position: absolute;
    top: 600px;
    left: 0px;
  } 

  .tree{
    position: absolute;
    top: 500px;
    left: 1000px;
  } 

  .tree1{
    position: absolute;
    top: 500px;
    left: 300px;
  } 

  .castle{
    position: absolute;
    top: 600px;
    left: 500px;
  } 
  .boat2{
    position: absolute;
    top: 150px;
    left: 1400px;
    animation-name: drive;
    animation-duration: 30s;
  }
  .airplane{
    position: absolute;
    top: -10px;
    left: 0px;
    animation-name: flying;
    animation-duration: 30s;
  }
  .kid{
    position: absolute;
    top: 500px;
    left: 600px;
  } 
  
  .kid2{
    position: absolute;
    top: 500px;
    left: 800px;
  } 
  .volly{
    position: absolute;
    top: 500px;
    left: 690px;
    animation-name: ball;
    animation-duration: 2s;
  }
  .sun{
    position: absolute;
    top: -20px;
    left: 1400px;
  }
  .cloud{
    position: absolute;
    top: -10px;
    left: 300px;
    animation-name: moving;
    animation-duration: 30s;
  }

  @keyframes driver{
    from{ transform: translatex(0);}
    to{ transform: translateX(500px);}
  }
  @keyframes drive{
    from{ transform: translatex(0);}
    to{ transform: translateX(-500px);}
  }
  @keyframes flying{
    from{ transform: translatex(0);}
    to{ transform: translateX(10000px);}
  }
  @keyframes ball{
    from{ transform: translateX(0);}
    to{ transform: translateX(70px);}
  }
  @keyframes moving{
    from{ transform: translateX(0);}
    to{ transform: translateX(700px);}
  }